.root {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.marqueeWrapper  {
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}